html{
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p.respire{
    margin: 0;
    position: absolute;
    font-size: xxx-large;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-150%,-60%);
    width: 50px;
    height: 50px;
    animation: letra1 12s linear infinite;
}

p.inspire{
    margin: 0;
    margin-left: 6px;
    position: absolute;
    font-size: xxx-large;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-150%,-60%);
    width: 50px;
    height: 50px;
    animation: letra2 12s linear infinite;
}

p{
    color: whitesmoke;
    position: relative;
}

.linha{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    padding: 125px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blueviolet;
    background-size: cover;
    animation: animate 12s linear infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 50px rgb(138, 43, 226, 1);

    }
    50%{
        box-shadow: 0 0 0 0  rgb(138, 43, 226, 1);
    }
    100%{
        box-shadow: 0 0 0 50px rgb(138, 43, 226, 1);
    }
}

@keyframes letra1{
    0%{
        color: transparent;
    }
    35%{
        color: whitesmoke;
    }
    50%{
        color: transparent;
    }
}

@keyframes letra2{
    0%{
        color: transparent;
    }
    50%{
        color: transparent;
    }
    85%{
        color: whitesmoke;
    }
    100%{
        color: transparent;
    }
}